<nav id="navbar" class="navbar">
    <div class="userInfo">
        <div *ngIf="userName; else noUser">
            <h1>Bienvenido, {{ userName }}!</h1>
            <a class="userButton" (click)="logOff()">Log-Out</a>
        </div>
        <ng-template #noUser>
            <h2>No estas Logeado.</h2>
            <div class="authButtons">
                <label class="userButton" [routerLink]="['/auth']">LogIn</label>
                <label class="userButton" [routerLink]="['/registro']">Registrarse</label>
            </div>
        </ng-template>
    </div>
    <div class="links">
        <a class="link-wrapper" [routerLink]="['/puntuacion']">
            <span class="fallback">Puntuacion</span>
            <div class="img-wrapper">
                <img class="normal" src="Puntuacion.png">
                <img class="active" src="Puntuacion2.png">
            </div>
        </a>
        <a *ngIf="userName" class="link-wrapper" [routerLink]="['/encuesta']">
            <span class="fallback">Encuesta</span>
            <div class="img-wrapper">
                <img class="normal" src="Encuesta.png">
                <img class="active" src="Encuesta2.png">
            </div>
        </a>
        <a class="link-wrapper" [routerLink]="['/quien-soy']">
            <span class="fallback">¿Quien soy?</span>
            <div class="img-wrapper">
                <img class="normal" src="Quien soy_.png">
                <img class="active" src="Quien soy_2.png">
            </div>
        </a>
        <a *ngIf="userName" class="link-wrapper" [routerLink]="['/chat']">
            <span class="fallback">Chatroom</span>
            <div class="img-wrapper">
                <img class="normal" src="Chatroom.png">
                <img class="active" src="Chatroom2.png">
            </div>
        </a>
        <a class="link-wrapper" [routerLink]="['/home']">
            <span class="fallback">Home</span>
            <div class="img-wrapper">
                <img class="normal" src="Home.png">
                <img class="active" src="Home2.png">
            </div>
        </a>
    </div>
</nav>