<div class="leaderboard-container">
    <div class="tabs">
        <button class="tab-link active" (click)="showTab('mayorMenor')">Mayor Menor</button>
        <button class="tab-link" (click)="showTab('preguntados')">Preguntados</button>
        <button class="tab-link" (click)="showTab('buscaminas')">Buscaminas</button>
        <button class="tab-link" (click)="showTab('ahorcado')">Ahorcado</button>
    </div>

    <div class="tab-content">
        <div id="mayorMenor" class="tab-pane active">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of mayorMenorLeaderboard; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ player.nombre }}</td>
                        <td>{{player.fecha.toDate() | date: 'd-M-Y H:m'}}</td>
                        <td>{{ player.puntaje }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="preguntados" class="tab-pane">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of preguntadosLeaderboard; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ player.nombre }}</td>
                        <td>{{player.fecha.toDate() | date: 'd-M-Y H:M:S'}}</td>
                        <td>{{ player.puntaje }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="buscaminas" class="tab-pane">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of buscaminasLeaderboard; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ player.nombre }}</td>
                        <td>{{player.fecha.toDate() | date: 'd-M-Y H:M:S'}}</td>
                        <td>{{ player.puntaje }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="ahorcado" class="tab-pane">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of ahorcadoLeaderboard; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ player.nombre }}</td>
                        <td>{{player.fecha.toDate() | date: 'd-M-Y H:M:S'}}</td>
                        <td>{{ player.puntaje }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>