<div class="home">
    <div class="square-container">
        <a [routerLink]="['/juegos/ahorcado']" class="square-link">
            <img src="hangman.png" alt="Ahorcado">
            <H2>Ahorcado</H2>
        </a>
        <a [routerLink]="['/juegos/mayoromenor']" class="square-link">
            <img src="higherlower.png" alt="Mayor o menor">
            <h2>Mayor o Menor</h2>
        </a>
        <a [routerLink]="['/juegos/preguntados']" class="square-link">
            <img src="flags.webp" alt="Preguntados">
            <h2>Preguntados</h2>
        </a>
        <a [routerLink]="['/juegos/buscaminas']" class="square-link">
            <img src="buscaminas.png" alt="Buscaminas">
            <h2>Buscaminas</h2>
        </a>
    </div>
</div>