<div class="home">
    <div class="square-container">
        <a [routerLink]="['/juegos/ahorcado']" class="square-link">
            <img src="hangman.png" alt="Ahorcado">
        </a>
        <a [routerLink]="['/juegos/mayoromenor']" class="square-link">
            <img src="higherlower.png" alt="Mayor o menor">
        </a>
        <a [routerLink]="['/juegos/preguntados2']" class="square-link">
            <img src="preguntados.png" alt="Preguntados">
        </a>
        <a [routerLink]="['/juegos/tetris']" class="square-link">
            <img src="tetris.jpg" alt="Tetris">
        </a>
    </div>
</div>