<nav>
    <ul>
        <li>
            <div *ngIf="userName; else noUser">
                <h1>Bienvenido, {{ userName }}!</h1>
                <a (click)="logOff()">Log-Out</a>
            </div>
        </li>
        <li>
            <ng-template #noUser>
                <h2>No estas Logeado.</h2>
                <a>LogIn</a>
                <a>Registrarse</a>
            </ng-template>
        </li>
        <li>
            <a (click)="toQuienSoy()">¿Quien Soy?</a>
        </li>
    </ul>
</nav>



<h2>Bajo construccion</h2>