.main-container {
  display: block; /* Make sure the component takes full space */
  height: 100vh;
  background: url("../../../../assets/fondoPoker.jpg");
  background-size: cover;
  background-position: top;
  padding-top: 100px;
}

element.syle {
  background-position-x: 225px;
  background-position-y: 315px;
}

.interfaz {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: gold;
  text-align: center;
}

.interfaz button {
  width: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  margin-bottom: 15px;
}

#mayor {
  background-color: rgb(164, 211, 93);
}

#menor {
  background-color: rgb(62, 118, 164);
}

.interfaz label {
  color: gold;
}

.tablero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carta {
  border-style: ridge;
  border-color: black;
  border-width: 8px;
}

h1 {
  font-family: "Great Vibes";
  display: flex;
  align-items: center;
  flex-direction: column;
  color: gold;
}

.perdiste {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: red;
  text-align: center;
}

.perdiste h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.perdiste button {
  background-color: #04aa6d; /* Green */
  border: none;
  border-radius: 20px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* .carta
{
    background: url(../../../assets/cartas.jpg); 
    width: 225px;
    height: 315px;
    background-position: right 450px bottom 315px;
} */
