<body>
  <h1>¿Mayor o menor?</h1>
  <div class="tablero">
    <div class="carta" [style.background]="'url(cartas.jpg)'" [style.width.px]="225" [style.height.px]="315"
      [style.backgroundPosition]="'right ' + right + 'px bottom ' + bottom + 'px'">
    </div>
  </div>
  <div class="interfaz">
    <Label>Indique si la proxima carta sera mayor o menor:</Label><br>

    <button id="mayor" (click)="apuestaMayor()">👆Mayor</button><button id="menor"
      (click)="apuestaMenor()">Menor👇</button>

    <Label>Total de Aciertos Seguidos: {{aciertos}}</Label>
  </div>
</body>