<div class="main-container">
  <h1 id="title">Ahorcado</h1>

  <svg viewBox="0 0 225 250">
    <line class="gallows" x1="2" x2="210" y1="9" y2="9" />
    <line class="gallows" x1="20" x2="20" y1="245" y2="9" />
    <line class="gallows" x1="50" x2="20" y1="9" y2="40" />
    <circle id="head" cx="115" cy="67" r="25" fill="none" />
    <line id="body" x1="115" x2="115" y1="173" y2="93" />
    <line id="left-arm" x1="115" x2="75" y1="116" y2="105" />
    <line id="right-arm" x1="115" x2="155" y1="116" y2="105" />
    <line id="left-leg" x1="115" x2="85" y1="173" y2="220" />
    <line id="right-leg" x1="145" x2="115" y1="220" y2="173" />
  </svg>

  <div id="guessing"></div>

  <div #keypad id="keypad">
    <div id=keypad--row1>
      <button #q (click)="verifyGuess('q', q)">Q</button>
      <button #w (click)="verifyGuess('w', w)">W</button>
      <button #e (click)="verifyGuess('e', e)">E</button>
      <button #r (click)="verifyGuess('r', r)">R</button>
      <button #t (click)="verifyGuess('t', t)">T</button>
      <button #y (click)="verifyGuess('y', y)">Y</button>
      <button #u (click)="verifyGuess('u', u)">U</button>
      <button #i (click)="verifyGuess('i', i)">I</button>
      <button #o (click)="verifyGuess('o', o)">O</button>
      <button #p (click)="verifyGuess('p', p)">P</button>
    </div>
    <div id=keypad--row2>
      <button #a (click)="verifyGuess('a', a)">A</button>
      <button #s (click)="verifyGuess('s', s)">S</button>
      <button #d (click)="verifyGuess('d', d)">D</button>
      <button #f (click)="verifyGuess('f', f)">F</button>
      <button #g (click)="verifyGuess('g', g)">G</button>
      <button #h (click)="verifyGuess('h', h)">H</button>
      <button #j (click)="verifyGuess('j', j)">J</button>
      <button #k (click)="verifyGuess('k', k)">K</button>
      <button #l (click)="verifyGuess('l', l)">L</button>
    </div>
    <div id=keypad--row3>
      <button #z (click)="verifyGuess('z', z)">Z</button>
      <button #x (click)="verifyGuess('x', x)">X</button>
      <button #c (click)="verifyGuess('c', c)">C</button>
      <button #v (click)="verifyGuess('v', v)">V</button>
      <button #b (click)="verifyGuess('b', b)">B</button>
      <button #n (click)="verifyGuess('n', n)">N</button>
      <button #m (click)="verifyGuess('m', m)">M</button>
    </div>
  </div>

  <h2 id="new-game" (click)="newGame()"><a>Juego Nuevo</a></h2><br>
  <label *ngIf="labelState === 'hidden'" style="display: none;"></label>
  <label *ngIf="labelState === 'lose'">Perdiste! La palabra era: {{ answer }}</label>

  <h4>Victorias consecutivas: {{wins}}</h4>

</div>