.main-container {
  background-image: url("../../../../public/star_pattern.webp");
  background-size: cover;
  height: 100vh;
}

.quien-soy {
  padding: 8% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}

#links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
  padding-top: 10px;
}

#links a {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  top: 10px;
  max-height: 24px;
  border-radius: 50%;
}

#links a svg {
  top: 10px;
}

img {
  display: block;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

#descripcion-juego {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

#descripcion-juego h3 {
  text-align: center;
}

#nombre {
  font-family: "Lucida Handwriting";
}
