<body>

    <div class="contenedor" *ngIf="questions.length > 0;">
        <!-- Display the current question -->
        <div *ngIf="currentQuestionIndex < questions.length">
            <h2>Pregunta {{ currentQuestionIndex + 1 }}:</h2>
            <p [innerHTML]="questions[currentQuestionIndex].question"></p>

            <!-- Display the answer buttons -->
            <div *ngFor="let answer of shuffledAnswers(currentQuestionIndex)">
                <button (click)="selectAnswer(answer)" [innerHTML]="answer">
                </button>
            </div>

            <!-- Next button to go to the next question -->
            <div class="feedback" *ngIf="selectedAnswer">
                <p class="correct"
                    *ngIf="selectedAnswer === questions[currentQuestionIndex].correct_answer; else incorrectAnswer">
                    ¡Correcto!
                </p>
                <ng-template #incorrectAnswer>
                    <p class="incorrect">Incorrecto. La respuesta correcta era: {{
                        questions[currentQuestionIndex].correct_answer }}</p>
                </ng-template>

                <button (click)="nextQuestion()">Siguiente pregunta</button>
            </div>
        </div>
        <!-- End of questions message -->
        <div *ngIf="currentQuestionIndex >= questions.length">
            <h2>¡Terminaste!</h2>
            <p>Contestaste todas las preguntas.</p>
        </div>
    </div>

    <!-- Loading template -->
    <ng-template #loading>
        <p>Loading questions...</p>
    </ng-template>
</body>