body {
  background-image: url("../../../../../public/preguntas.jpg");
  background-size: cover;
}
/* Set up a basic layout */
.contenedor {
  margin-top: 12%;
  justify-content: center;
}

div {
  flex: auto;
  text-align: center;
  margin-top: 20px;
}

/* Style the question text */
h2,
p {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
  padding-right: 300px;
  padding-left: 300px;
}

/* Button container for answers */
button {
  background-color: #1e90ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
button:hover {
  background-color: #6495ed;
}

/* Style for correct answer feedback */
p.correct {
  color: #32cd32;
  font-weight: bold;
}

/* Style for incorrect answer feedback */
p.incorrect {
  color: #ff4500;
  font-weight: bold;
}

/* Next Question button */
button.next-button {
  background-color: #ffa500;
  color: #000000;
  margin-top: 20px;
}

button.next-button:hover {
  background-color: #ff8c00;
}
