<html>

<head>
    <title>Tetris Game</title>
    <style>
        button:hover {
            background-color: #bca0dc !important;
        }

        button:active {
            background-color: #9969d0 !important;
        }
    </style>
</head>

<body>
    <canvas #canvas width="400" height="800"> </canvas>
    <canvas #nextShapeCanvas width="200" height="200" style="position: absolute; top: 10">
    </canvas>

    <canvas #scoreCanvas width="200" height="200" style="position: absolute; top: 220">
    </canvas>

    <button style="
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: gray;
        border: 0px;" (click)="resetVars()">
        Resetear
    </button>
    <img #imagen src="bloques.png" style="display: none" />
</body>

</html>